@charset "UTF-8";

/* GENERAL */
:root {
  --black-color: #000000;
  --gray-color: #1f1f1f;
  --green-color: #98ca3f;
  --yellow-color: #fcee0a;
  --blue-color: #016e9f;
  --sky-blue-color: #2490fc;
  --white-color: #ffffff;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
}
header .header {
  background-color: #2c2e49;
  border-bottom: 5px solid #016e9f;
}
header .header img {
  width: 200px;
  cursor: pointer;
  padding: 1rem;
}
header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f1f2f2;
  padding: 1.25rem;
}
header .nav img {
  width: 26px;
}
header .nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .nav div img {
  cursor: pointer;
}
header .nav div .line {
  width: 1px;
  height: 24px;
  background-color: var(--black-color, #000000);
  margin: 0 1rem;
}
.section {
  background-image: -webkit-repeating-radial-gradient(center center, rgba(0,0,0,.1), rgba(0,0,0,.1) 1px,transparent 1px, transparent 100%);
}